#divModelado {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#tools{
  position:absolute;
  color: white;
}

#crearBloque{
  border: 3px solid yellowgreen;
}

.floatingButton {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: auto;
}

.floatingButton button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: limegreen;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}
