 <div #modelado id="divModelado"  >
    <app-actions-model></app-actions-model>
    <div id="tools">
      <p class="info" id="numBlock"># de bloques: {{numBlocks}}</p>
    </div>
  @if (selectedCube) {
    @for (btn of activeButtons; track $index) {
      @if (btn.visible) {
        <div
          class="floatingButton"
          [style.left.px]="btn.screenX"
          [style.top.px]="btn.screenY"
        >
          <button (click)="crearBloqueDesdeSeleccion(btn.offsetX, btn.offsetZ, btn.rotateY)">+</button>
        </div>
      }
    }
  }
</div>
