<div class="main-wrapper">
  <div id="actionsModel">
    <div class="button-group">
      <button 
        [class.active]="vistaActiva === 'cargar'" 
        (click)="cambiarVista('cargar')">
        Cargar Modelo
      </button>

      <button 
        [class.active]="vistaActiva === 'crear'" 
        (click)="cambiarVista('crear')">
        Crear Modelo
      </button>
    </div>
    
    <div id="seccionRespuetaBoton">
      <div *ngIf="vistaActiva === 'cargar'">
        <h3>Proximamente</h3>
        <p>Aquí podrás subir tus archivos de modelos previos.</p>
      </div>

      <div *ngIf="vistaActiva === 'crear'">
        <p>Cargando visualizador 3D...</p>
      </div>
    </div>
  </div>
</div>